* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: white;
    background-color: black;
}

header, main, footer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
}

header {
    background-color: #333; /* Dunkleres Schwarz */
}

.header-title {
    font-size: 24px;
}

main {
    padding: 20px;
    background-color: black;
    color: #EEE;
    text-align: justify;
}

main p {
    margin-bottom: 10px;
}

main h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

main h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

main h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

main a {
    color: #4CAF50;
    text-decoration: none;
    transition: color 0.3s;
}

main a:hover {
    color: #8BC34A;
}

main ul,ol {
    text-align: left;
    margin-left: 20px;
}

footer {
    background-color: #333;
    padding: 10px 0;
}

footer p {
    font-size: 14px;
}

footer a {
    color: inherit;
}